<?xml version="1.0"?>
<!--

  Copyright (c) 2018, PAL Robotics, S.L.
  All rights reserved.

  This work is licensed under the Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License.
  To view a copy of this license, visit http://creativecommons.org/licenses/by-nc-nd/3.0/ or send a letter to
  Creative Commons, 444 Castro Street, Suite 900, Mountain View, California, 94041, USA.
-->
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="gazebo_ros_control" params="control_period is_multiple nsp">
    <gazebo>
      <plugin filename="libgazebo_ros_control.so" name="gazebo_ros_control">
        <ns></ns>
        <robotSimType>pal_hardware_gazebo/PalHardwareGazebo</robotSimType>
        <xacro:if value="${is_multiple}">
            <robotNamespace>/${nsp}</robotNamespace>
        </xacro:if>
        <xacro:unless value="${is_multiple}">
            <robotNamespace></robotNamespace>
        </xacro:unless>
        <controlPeriod>${control_period}</controlPeriod>
      </plugin>
    </gazebo>
  </xacro:macro>
</robot>
