<?xml version="1.0"?>
<!--

  Copyright (c) 2018, PAL Robotics, S.L.
  All rights reserved.

  This work is licensed under the Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License.
  To view a copy of this license, visit http://creativecommons.org/licenses/by-nc-nd/3.0/ or send a letter to
  Creative Commons, 444 Castro Street, Suite 900, Mountain View, California, 94041, USA.
-->

<!--

  This file is only meant as an example.

-->

<robot name="wall-e" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- ros_control -->
  <xacro:include filename="$(find pal_urdf_utils)/gazebo/plugin_ros_control.urdf.xacro" />
  <xacro:gazebo_ros_control control_period="0.001" is_multiple="false" nsp=""/>

  <!-- ros_p3d -->
  <xacro:include filename="$(find pal_urdf_utils)/gazebo/plugin_ros_p3d.urdf.xacro" />
  <xacro:gazebo_ros_p3d frame="base_link" topic="ground_truth_odom" update_rate="100.0" is_multiple="false" nsp=""/>

  <!-- ros_p3d -->
  <xacro:include filename="$(find pal_urdf_utils)/gazebo/plugin_world_odometry.urdf.xacro" />
  <xacro:gazebo_world_odometry frame="base_footprint" topic="floating_base_pose_simulated" is_multiple="false" nsp=""/>

  <!-- imu -->
  <xacro:include filename="$(find pal_urdf_utils)/gazebo/plugin_world_odometry.urdf.xacro" />
  <xacro:gazebo_imu frame="base_imu_link" update_rate="1000.0"/>

</robot>
